@import "../common/var";
@import "../mixins/mixins";

@include b(global-footer) {
  margin: 48px 0 24px 0;
  padding: 0 16px;
  text-align: center;

  @include e(links) {
    margin-bottom: 8px;

    a {
      color: $text-color-secondary;
      transition: all 0.3s;

      &:not(:last-child) {
        margin-right: 40px;
      }

      &:hover {
        color: $text-color;
      }
    }
  }
}
