@import "../common/var";
@import "../mixins/mixins";

@include b(header-dropdown) {
  > * {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: $shadow-1-down;
  }
}

@media screen and (max-width: $screen-xs) {
  .fa-header-dropdown {
    width: 100% !important;

    & > * {
      border-radius: 0 !important;
    }
  }
}
