.phoneBg{

}
.leftPhone{
    width: 384px;
    height: 708px;
}
.phoneTop{
    padding: 0 10px;
    color: #fff;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(48, 49, 52, 1);
}
.phoneNav{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
}
.phoneNav span:nth-child(2){
    margin: 0 10px;
}
.phoneMainWarp{
    border-radius: 4px;
    margin: 40px 8px 0 8px;
    padding: 10px;
    background-color: #fff;
    position: relative;
}
.logo{
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    top: -34px;
    left:40%;
}
.logo img{
    max-width: 54px;
    max-height: 54px;
    border-radius: 50%;
}
.phoneMain{
    margin-top: 30px;
}
.cardInfo{
    align-items: center;
}
.cardInfo:hover{
    background-color: #f1f1f1;
}
.storeName{
    color: #999;
}
.title{
    font-size: 24px;
    line-height: 40px;
}
.desc{}
.validity{}
.cardSetting{
    align-items: center;
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px #ccc dashed;
    border-bottom: 1px #ccc dashed;
}
.cardSetting:hover{
    background-color: #f1f1f1;
}
.cardSetting p{
    margin-top: 10px;
}
.qrcodeBg,.barcodeBg {
    width: 246px;
    margin: 0 auto;
}
.qrcodeBg {
    height: 180px;
    background: url(../../assets/images/card.png) 35px -237px no-repeat;
}
.barcodeBg {
    height: 71px;
    background: url(../../assets/images/card.png) 0px -156px no-repeat;
}
.phoneItem{
    line-height: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
}
.phoneItem:last-child{
    border-bottom: 0;
}
.phoneItem:hover{
    background-color: #f1f1f1;
}
.giftCardSetting{

}
.applyToStores{

}
.useNow{

}
.marketingEntry{

}
