# See https://help.github.com/ignore-files/ for more about ignoring files.
# misc
.DS_Store
npm-debug.log*
# umi
.umi
.umi-production
.vscode
.vscode/settings.json
package-lock.json
# dependencies
/node_modules
# testing
/coverage
/package-lock.json
# production
# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

yarn-debug.log*
*.iws
*.iml
*.ipr
*svn/
.idea/
*.jar
yarn.lock
yarn-error.log
/build/*
/dist/*
