.formAdjust{
    margin-top: 40px;
}
.backBut{
    margin-left: 20px;
}
.fromitemLast{
    margin-top: 40px;
    margin-bottom: 0px
}
.textAdjust{
    margin-bottom: 10px;
}
.factUpdata{
    background: url('../../assets/images/pao.png')no-repeat;
    height: 500px;
    background-position: left bottom;
    background-size: contain;
}
.test{margin-top:200px;width:260px; background-color:#dfdfe4; position:relative;
    margin-left: 20px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    padding:20px 10px;
    word-wrap:break-word ;
    max-height:250px;
}
.test span{width:0; height:0; font-size:0; overflow:hidden; position:absolute;
            display: block;
}
.test span.bot{
    border-width:10px;
    border-style:solid dashed dashed;
    border-color:#dfdfe4 transparent transparent;
    left:20px;
    bottom:-20px;
}
