/* shopWindowPhone */
.shopWindowPhoneWarp{
    display: flex;
    align-items: initial;
    justify-content: flex-start;
    flex-direction: row;
}
.shopWindowPhoneItem{
    height: 100px;
    flex: 1;
    max-width: 33.3%;
    /*margin-right: 2px;*/
    overflow: hidden;
}
.shopWindowPhoneItem:last-child{
    margin-right: 0;
}
.shopWindowPhoneItem img{
    height: 100px;
    width: 100%;
}
.shopWindowPhoneLeft{
    min-height: 130px;
    width: 50%;
    /*margin-right: 2px;*/
}
.shopWindowPhoneLeft img{
    height: 100%;
    width: 100%;
}
.shopWindowPhoneRight{
    min-height: 130px;
    width: 50%;
}
.shopWindowPhoneRight img{
    width: 100%;
    height: 50%;
}
.shopWindowPhoneRight img:first-child{
    /*margin-bottom: 2px;*/
}
