.dragPhoneWarp{
    display: flex;
    align-items: initial;
    justify-content: flex-start;
    flex-direction: column;
    width: 375px;
    margin: 0 auto;
}
.dragPhoneHeader{
    width: 375px;
    cursor: pointer;
    height: 54px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.dragPhoneContain{
    display: flex;
    align-items: initial;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 560px;
    background-color: #f6f6f6;
    border: 1px solid #e8e8e8;
    border-top: 0;
}
.phoneItem{
    display: flex;
    align-items: initial;
    justify-content: flex-start;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}
.phoneItem:hover{
    box-shadow: rgb(181, 181, 181) 0px 0px 20px 0px
}
.operation{
    position: absolute;
    background-color: rgba(0,0,0,0);
    bottom: 3px;
    right: 0;
    flex-direction: row;
    z-index: 1;
}
.operation a{
    display: inline-block;
    background-color: rgba(0,0,0,.4);
    width: 44px;
    height: 22px;
    color: #fff;
    margin-right: 3px;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
}
.operation a:hover{
    background-color: rgba(0,0,0,.2);
}
.sortableList,.sortableListLi{
    list-style: none!important;
    padding: 0;
    margin:0;
}
.toolView{
    position: fixed;

}
