.dragPhoneWarp{
    display: flex;
    align-items: initial;
    justify-content: flex-start;
    flex-direction: column;
    width: 375px;
    margin: 0 auto;
    height: 100%;
}
.dragPhoneHeader{
    width: 375px;
    cursor: pointer;
    height: 54px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.dragPhoneContain{
    display: flex;
    align-items: initial;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 560px;
    background-color: #f6f6f6;
    border-top: 0;
}
.phoneItem{
    display: flex;
    align-items: initial;
    justify-content: flex-start;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}
.phoneItem:hover:before,.phoneItemActive:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 2;
    display: block;
    border: 1px dashed #38f;
}
.operation{
    position: absolute;
    background-color: rgba(0,0,0,0);
    top: 3px;
    right: 0;
    flex-direction: row;
    z-index: 1;
}
.operation a{
    display: inline-block;
    background-color: rgba(0,0,0,.4);
    width: 44px;
    height: 22px;
    color: #fff;
    margin-right: 3px;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
}
.operation a:hover{
    background-color: rgba(0,0,0,.2);
}
.sortableList,.sortableListLi{
    list-style: none!important;
    padding: 0!important;
    margin:0!important;
}
.toolView{
    position: fixed;

}
