.freight{
    flex-direction: row;
    align-items: center;
}
.optionItem{
    padding: 14px 0;
    line-height: 35px;
    color: #737373;
}
.optionItem p{
    margin: 0;
    height: 20px;
    line-height: 16px;
    font-size: 14px;
    color: #404040;
}
.optionItem span{
    min-width: 200px;
    line-height: 14px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
