/* textNavPhone */
.textNavPhoneWarp{
    background-color: #fff;
}
.textNavPhoneItem{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 30px;
    border-bottom: 1px solid #eaeaea;
}
.textNavPhoneItem p{
    margin: 0;
}
