/*topMenuCtrl*/
.topMenuCtrlItem,.topMenuCtrlItemAdd{
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    margin-bottom: 16px;
}
.topMenuCtrlItemAdd{
    padding: 16px;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px dashed #e8e8e8;
}
.topMenuCtrlItemTop{
    margin: 0;
    height: 48px;
    line-height: 48px;
    background-color: #fafafa;
    text-align: right;
    border-bottom: 1px solid #e8e8e8;
}
.topMenuCtrlItemTop a{
    margin-right: 10px;
}
.topMenuCtrlItemBot{
    padding: 16px;
    flex-direction: row;
}
.topMenuCtrlItemLeft{
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 1px dashed #e5e5e5;
    border-radius: 5px;
    position: relative;
    background-color: rgba(0,0,0,.3);
}
.avatarInput{
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    cursor: pointer;
}
.uploadBtn p{
    margin: 0;
}
.topMenuCtrlItemRight{
    margin-left: 16px;
    flex: 1;
}
.topMenuCtrlItemRight > p,.topMenuCtrlItemRightRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
