.logoInput{
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
.uploadWarp{
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border: 1px dashed #e5e5e5;
    border-radius: 5px;
    position: relative;
}
.uploadBtn{
    flex: 1;
    justify-content: center;
    align-items: center;
}
.uploadBtn p{
    margin: 0;
}
