
.currentModuleWarp{
    margin-bottom: 10px;
}
.currentRight{
    padding: 20px;
    width: 100%;
    background-color: rgba(250,250,250,1);
    border: 1px solid rgba(235, 235, 235, 1);
    border-radius: 4px;
    flex-direction: row;
}
.qrcodeWarp{
    width: 150px;
    background-color: #fff;
    padding: 10px;
    margin-right: 20px;
    flex-shrink: 0;
}
.hint{
    color: rgba(0, 0, 0, 0.447058823529412);
    line-height: 28px;
}
.hintLeft{
    color: rgba(0, 0, 0, 0.847058823529412);
}
