.item{
    padding: 2px;
    flex-direction: row;
    margin-bottom: 10px;
    width: 94px;
    cursor: pointer;
}
.colorItem{
    width: 30px;
    height: 30px;
    margin: 0;
}
.whiteColorItem{
    border: 1px solid #ccc;
    border-left: 0;
}
.example{
    flex-direction: row;
    width: 851px;
    height: 484px;
}
.example img{
    max-width: 845px;
    max-height: 482px;
    margin-right: 24px;
    border: 1px solid #e9e9e9;
}
.example img:last-child{
    margin-right: 0;
}

.botBtnView{
    margin-top: 24px;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 160px;
}
