.imageListItem{
    cursor:pointer;
    float:left;
    width: 130px;
    margin-bottom: 10px;
    margin-right: 10px;
    box-sizing: content-box;
    position: relative;
}

.image{
    position:relative;
    -webkit-transition: all .3s;
    transition: all .3s;
    border:1px solid #e8e8e8;
}
.image:hover{
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
.title{
    padding: 5px 5px;
    height: 32px;
    box-sizing: content-box;
}
.title>p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 32px;
    margin: 0;
    font-size: 12px;
}

.imageHover{
    display: none;
    width: 100%;
    height: 100px;
    position: absolute;
    top:0;
    left: 0;
    padding: 10px;
}
.imageToolWrap{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.58);
    height: 30px;
}
.imageTool{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}
.image:hover .imageHover{
    display: initial;
}
.image:hover .imageToolWrap{
    display: initial;
}
