// color
$color-white: #fff;
$color-black: #000;

$text-color: fade($color-black, 0.65);
$text-color-secondary: fade($color-black, 0.45);
$text-color-inverse: $color-white;
$icon-color-hover: rgba($color-black, 0.75);

$heading-color: rgba($color-black, 0.85);

// Shadow
$shadow-color: rgba(0, 0, 0, 0.15);
$shadow-1-up: 0 -2px 8px $shadow-color;
$shadow-1-down: 0 2px 8px $shadow-color;
$shadow-1-left: -2px 0 8px $shadow-color;
$shadow-1-right: 2px 0 8px $shadow-color;
$shadow-2: 0 4px 12px $shadow-color;

$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1600px;

// Font
$font-size-base: 14px;
$font-size-lg: $font-size-base + 2px;
$font-size-sm: 12px;


// Disabled states
$disabled-color: rgba($color-black, .25);
$disabled-color-dark: fade($color-white, .35);
