<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>恒源祥 商城系统 - Power By CM ( hyx.iotiotio.cn )</title>
    <meta name="keywords" content="恒源祥,家纺,贵州,连锁">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=XjlRI1O0fT538vmYHNjGVpWmW6n6Y7bv"></script>
</head>
<body>
<noscript>Sorry, we need js to run correctly!</noscript>
<div id="root"></div>
</body>
</html>
