<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FaShop 商城系统 - Power By FaShop</title>
    <meta name="keywords" content="FaShop,开源商城系统,开源商城小程序,开源商城APP">
    <meta name="description" content="FaShop是魔际（天津）科技有限公司(www.fashop.cn)开发。">
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
