/*shopWindowCtrl*/
.shopWindowCtrlItem,.shopWindowCtrlItemAdd{
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    margin-bottom: 16px;
}
.shopWindowCtrlItemAdd{
    padding: 16px;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px dashed #e8e8e8;
}
.shopWindowCtrlItemTop{
    margin: 0;
    height: 48px;
    line-height: 48px;
    background-color: #fafafa;
    text-align: right;
    border-bottom: 1px solid #e8e8e8;
}
.shopWindowCtrlItemTop a{
    margin-right: 10px;
}
.shopWindowCtrlItemBot{
    padding: 16px;
    flex-direction: row;
}
.shopWindowCtrlItemLeft{
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border: 1px dashed #e5e5e5;
    border-radius: 5px;
    position: relative;
}
.avatarInput{
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    cursor: pointer;
}
.uploadBtn p{
    margin: 0;
}
.shopWindowCtrlItemRight{
    margin-left: 16px;
    flex: 1;
}
.shopWindowCtrlItemRight > p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shopWindowCtrlItemRight > p,.shopWindowCtrlItemRightRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
