.logoInput{
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
.uploadWarp{
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border: 1px dashed #e5e5e5;
    border-radius: 5px;
    position: relative;
}
.uploadBtn{
    flex: 1;
    justify-content: center;
    align-items: center;
}
.uploadBtn p{
    margin: 0;
}
.view1{
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -15px;
}
.view2{
    width: 104px;
    height: 104px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    font-size: 14px;
}
.view3{
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}
.view3:before{
    content: ' ';
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .3s;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.view3:hover:before{
    opacity: 1;
}
.icon1{
    color:#fff;
    z-index: 5;
}
.img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.span1{
    z-index: 10;
    white-space: nowrap;
    opacity: 0;
    transition: all .3s;
}
.view3:hover .span1{
    opacity: 1;
}
.view4{
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.uploadView{
    width: 104px;
    height: 104px;
    border-radius: 4px;
    border: 1px dashed #ddd;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    cursor: pointer;
}
.sortableList{
    display: inline-flex;
    flex-wrap:wrap
}
.sortableList,.sortableListLi {
    list-style: none !important;
    padding: 0;
}