.infoWarp{
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ededed;
}
.infoWarp:first-child{
    margin-top: 0;
}
.infoWarp:last-child{
    border-bottom: 0;
}
.infoTitle{
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.847058823529412);
    line-height: 24px;
}
.infoItem{
    color: rgba(0, 0, 0, 0.847058823529412);
}
.infoItem span{
    color: rgba(0, 0, 0, 0.647058823529412);
}
.btnWarp{
    flex-direction: row;
    align-items: center;
}
.btnWarp button{
    margin-right: 24px;
}
.btnWarp>label{
    color: red;
    margin-left: 10px;
}
.goodsDesc{
    flex-direction: row;
    align-items: center;
}
.goodsDesc img{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 5px;
}
.tableFooter{
    margin: 0;
    text-align: right;
}
