@import "../common/var";
@import "../mixins/mixins";

@include b(user-layout) {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg') no-repeat center 110px;
  background-size: 100%;

  @include e(lang) {
    text-align: right;
    width: 100%;
    height: 40px;
    line-height: 44px;

    .ant-dropdown-trigger {
      margin-right: 24px;
    }
  }

  @include e(container) {
    flex: 1;
    padding: 32px 0;
  }

  @include e(header) {
    text-align: center;
    height: 44px;
    line-height: 44px;

    a {
      text-decoration: none;
    }

    img {
      height: 44px;
      margin-right: 16px;
      vertical-align: top;
    }

    span.title {
      position: relative;
      color: $heading-color;
      font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
      top: 2px;
      font-weight: 600;
      font-size: 33px;
    }
  }
}
