@import '~antd/lib/style/themes/default.less';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg') no-repeat center 110px;
  background-size: 100%;
}

.lang {
  text-align: right;
  width: 100%;
  height: 40px;
  line-height: 44px;

  :global(.ant-dropdown-trigger) {
    margin-right: 24px;
  }
}

.content {
  padding: 32px 0;
  flex: 1;
}
